<h4><a href="/orchestras/"><%= "All Orchestras" %></a></h4>
<h4><a href="/musicians/"><%= "All Musicians" %></a></h4>

<% @musicians.each do |musician| %>
  <h3><a href="/musicians/<%= musician.id %>"><%= musician.name %></a></h3>
  <p>Instrument: <%= musician.instrument %></p>
  <p>Chair: <%= musician.position %></p>
  <p>Years With Orchestra: <%= musician.years_active %></p>
<% end %>

<p><%= link_to "Create Musician", "/orchestras/#{@orchestra.id}/musicians/new" %></p>

<p><%= link_to "Sort A-Z", :sort => "name" %></p>