<h4><a href="/orchestras/"><%= "All Orchestras" %></a></h4>
<h4><a href="/musicians/"><%= "All Musicians" %></a></h4>

<h1><%= @musician.name %></h1>
<p>Instrument: <%= @musician.instrument %></p>
<p>Chair: <%= @musician.position %></p>
<p>Years With Orchestra: <%= @musician.years_active %></p>

<h4><a href="/musicians/<%= @musician.id %>/edit">Update Musician</a></h4>
<h4><%= link_to "Delete Musician", "/musicians/#{@musician.id}", method: :delete %></h4>