<h1>Orchestras</h1>

<% @orchestras.each do |orchestra| %>
  <h3><a href="/orchestras/<%= orchestra.id %>"><%= orchestra.name %></a></h3>
  <p><a href="/orchestras/<%= orchestra.id %>/edit"><%= "Update #{orchestra.name}" %></a></p>
  <p><%= orchestra.city %></p>
  <p><%= orchestra.created_at %></p>
  
  <p><%= button_to "Delete #{orchestra.name}", "/orchestras/#{orchestra.id}", method: :delete %></p>
<% end %>

<h4><a href="/orchestras/new/"><%= "New Orchestra" %></a></h4>

<%= form_tag("/orchestras", method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Search") %>
<% end %>
