<h4><a href="/orchestras/"><%= "All Orchestras" %></a></h4>
<h4><a href="/musicians/"><%= "All Musicians" %></a></h4>

<%= form_with url: "/orchestras", method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
    <%= form.label :city %>
  <%= form.text_field :city %>
    <%= form.label :total_conductors %>
  <%= form.text_field :total_conductors %>
  <%= form.label :active %>
  <%= form.check_box :active %>
  <%= form.submit "Create Orchestra" %>
<% end %>
