<h4><a href="/orchestras/"><%= "All Orchestras" %></a></h4>
<h4><a href="/musicians/"><%= "All Musicians" %></a></h4>

<h1><%= @orchestra.name %></h1>
<p>City: <%= @orchestra.city %></p>
<p>Conductors: <%= @orchestra.total_conductors %></p>
<p>Musicians: <%= @orchestra.musicians.length %></p>

<h4><a href="/orchestras/<%= @orchestra.id %>/musicians"><%= "Our Musicians" %></a></h4>